body, html
{
	background-image: url('images/bimage.png'); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.wrapper
{
	width: 100%;
	height: 100%;
}
.canvas
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	/* background: #000; */
	z-index: 0;
	
}

.menu-button{
	position: absolute;
	left: 45%;
	top: 45%;
	z-index: -1;
}
